<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">

    <link href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" >
    <script src="../../static/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<style>
    .page-link {
  color: black;
  background-color: white;
}

.page-link:focus{
  color: white;
  background-color: black;
  border-color: black;
}

.page-link:hover {
  color: white;
  background-color: grey;
  border-color: black;
}

.page-link:active {
  background-color: black;
  color:white;
}

.page-link-selected {
  background-color: black;
  color: white;
}
</style>
<body style="background-color:#fff">


<div class="container mt-5 mb-2 " style="background-color:#fff; border-radius:3%;border:3px solid black">

    <div class="align-items flex-column">
        <div class="m-4 mt-5" style="background-color:#fff; border-radius:3%">

            <div class="d-flex justify-content-center mt-3">
                <div class="col-12 mt-3">
                    <h5 class="text-start fw-bold">참여한 분쟁</h5>
                </div>

            </div>
            <hr class="mt-0">

            <ul style="padding-left:0" id="MyPageLatestDebate" >

            </ul>

            <div id="MyPageLatestDebatePaging" class="mb-1">

            </div>


        </div>


    </div>
</div>

</body>


<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script th:inline="javascript">






class MyComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            data: []
        };

        this.addComment = this.addComment.bind(this);
    }

    componentDidMount() {
        this.getData(1);
    }

    getData(page){

        $.ajax({
            url: '/myPageLatestDebate',
            method: 'GET',
            data: {
              page : page

            },
            success: (data) => {
                this.addComment(data);
            },
            error: (xhr, status, err) => {
                alert('실패');
            }
        });

    }



    addComment(comment) {
        this.setState({ data: [] });

        this.setState(prevState => ({
            data: [...prevState.data, comment]
        }));
    }


 render() {

  let elements = [];

   if (!this.state.data[0] || this.state.data[0].length === 0) {
       let element = React.createElement( 'li',{ className: "list-group-item mb-1 d-flex justify-content-center align-items-start", style: { backgroundColor: "#fff" }, key: 1 },
        React.createElement('div',{ className: "align-items-start flex-column" },
        React.createElement('div',{ className: "d-flex justify-content-center" },
       React.createElement('div',{ className: "col-12 badge rounded-pill", style: { backgroundColor: "black" } },
                    React.createElement('span',null,  "참여한 분쟁이 없습니다."  ))
            )
            )
        )
       elements.push(element);
       return elements;
    }


  let data = this.state.data[0];



for (let index = 0; index < data.length; index++) {
    let item = data[index];

  let element = React.createElement('li',  {    key: index, className: 'list-group-item mb-1 d-flex justify-content-start',   style: { backgroundColor: '#fff' } }, React.createElement('div', { className: 'col-6' },
     React.createElement('a',
    {
        onClick: () => openNewPage(`/DebatePostPage?DebateArticleNo=${item.debateArticleNo}`),
        style: { color: 'black', textDecoration: 'none' }
    },
      React.createElement('div', { className: 'ms-2 me-auto' },
          React.createElement('div', { className: 'fw-bold' }, `[${item.debateCategory}] ${item.debateTitle}`)
        )
      )
    ),
    React.createElement('div', { className: 'col-2' },
      React.createElement('div', { className: 'd-flex justify-content-end' },
        React.createElement('div', { className: 'col-12 badge rounded-pill', style: { backgroundColor: 'black' } },
          React.createElement('svg', { xmlns: 'http://www.w3.org/2000/svg', width: '15', height: '10', fill: 'currentColor', viewBox: '0 0 16 16' },
            React.createElement('path', { d: 'M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z' }),
            React.createElement('path', { d: 'M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z' })
          ),
          React.createElement('span', { className: 'ms-1 mb-0 mt-1' }, item.debateRunningTime),
          React.createElement('span', { className: 'ms-1 mb-0 mt-1' }, item.debateResult)
        )
      )
    ),
    React.createElement('div', { className: 'col-2 ms-1' },
      React.createElement('div', { className: 'd-flex justify-content-end' },
        React.createElement('div', { className: 'col-12 badge rounded-pill', style: { backgroundColor: 'black' } },
          React.createElement('span', { className: 'ms-1 mt-5' }, `조회수 : ${item.debatePostView}`)
        )
      )
    ),
    React.createElement('div', { className: 'col-2 ms-1' },
      React.createElement('div', { className: 'd-flex justify-content-end' },
        React.createElement('div', { className: 'col-12 badge rounded-pill', style: { backgroundColor: 'black' } },
          React.createElement('span', { className: 'ms-1 mt-5' }, item.debateVoteDate)
        )
      )
    )
  )

    elements.push(element);
}

  return elements;
  }

}




class PagingComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            data: []
        };

        this.addComment = this.addComment.bind(this);
    }

    componentDidMount() {
        this.getData(1);
    }

    getData(page){


        $.ajax({
            url: '/myPageLatestDebatePaging',
            method: 'GET',
            data: {
              page : page
            },
            success: (data) => {
                this.addComment(data);
            },
            error: (xhr, status, err) => {
                alert('실패');
            }
        });

    }



    addComment(comment) {
        this.setState({ data: [] });

        this.setState(prevState => ({
            data: [...prevState.data, comment]
        }));
    }




render() {
    if (this.state.data.length === 0) {
      return null;
    }
    console.log(this.state.data)

    const { page, size, total, start, end, next, prev } = this.state.data[0];

   if(total == 0){
      return null;
    }


    const elements = [];

    // 이전 버튼
    if (prev) {
        const prevButton = React.createElement('li', { key: 'prev', className: 'page-item' },
            React.createElement('a', { className: 'page-link paging Boardpaging', 'data-num': start - 1 }, 'Previous')
        );
        elements.push(prevButton);
    }

    // 페이지 번호 버튼
       for (let i = start; i <= end; i++) {
        const pageButton = React.createElement('li', { key: i, id: i, onClick: this.handleClick },
            React.createElement('a', {
                className: `page-link paging ${page === i ? 'active' : ''} Boardpaging`,
                'data-num': i,
                style: page === i ? { backgroundColor: 'black', color: 'white' } : {}
            }, i)
        );

        elements.push(pageButton);
    }

    // 다음 버튼
    if (next) {
        const nextButton = React.createElement('li', { key: 'next', className: 'page-item Boardpaging' },
            React.createElement('a', { className: 'page-link paging', 'data-num': end + 1 }, 'Next')
        );
        elements.push(nextButton);
    }

    // 페이징 컴포넌트
    const paginationComponent = React.createElement('div', { key: 'paginationComponent' },
        React.createElement('nav', { 'aria-label': 'Page navigation example justify-content-center align-items-center' },
            React.createElement('ul', { className: 'pagination justify-content-center' }, elements)
        )
    );

    return paginationComponent;
}

}





function openNewPage(url) {
    window.open(url, '_blank'); // 새 탭에서 URL 열기
}



$(document).ready(function() {


    const myComponentInstance = ReactDOM.render(
        React.createElement(MyComponent, null),
        document.getElementById('MyPageLatestDebate')
    );

     const myComponentInstance2 = ReactDOM.render(
          React.createElement(PagingComponent, null),
          document.getElementById('MyPageLatestDebatePaging')
      );


  $(document).on('click','.Boardpaging' ,function(e){

        const target = e.target;
        const page = target.getAttribute("data-num")

        myComponentInstance2.getData(page); // 페이징 데이터 변경
        myComponentInstance.getData(page) //댓글 데이터 변경

    });


});




</script>



</html>