<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" >
<head>

    <link href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" >
    <script src="../../static/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/header::Main_header"></div>

<hr>
<div class="container mb-2 ">

    <div class="w-100">
        <form action="/user/login" method="post">
            <div style="position: relative;">

                <div style="border:1px solid rgb(179, 179, 179); width:420px; height:370px; position: absolute; top:100px; left:450px;border-radius: 10px;">
                    <h5 class="text-center mt-3 mb-3" style="font-weight: 800;">로그인<br><small style="color:gray">Debate 계정 사용</small></h5>

                    <div class="row d-flex justify-content-center mt-1 ">

                        <div class="w-75 mb-1 col-md-11">
                            <input type="text" class="form-control" id="memberId" name="memberId" placeholder="아이디를 입력해주세요." aria-describedby="emailHelp">
                        </div>

                        <div class="w-75 col-md-11">
                            <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요," id="pswd" name="pswd">
                        </div>

                    </div>
                    <div class="text-center mt-3 ">
                        <span class="fw-bold">아이디 혹은 비밀번호가 잘못되었습니다.</span>
                    </div>


                    <div class="m-2 mt-0 text-center">
                        <br>내 컴퓨터가 아닌가요? <br>게스트 모드를 사용하여 비공개로 로그인하세요. <br> <a href="#">자세히 알아보기</a>
                    </div>


                    <div class="w-100 text-center">
                        <button type="submit"  style=" background-color:black;color:white;border-radius:5%" class="m-1 w-75 fw-bold">로그인</button>
                    </div>

                </div>
            </div>

        </form>
    </div>



</div>



</body>


<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script th:inline="javascript">


</script>


</html>